body {
    background-color: black;
    color: azure;
}

h1 {
    color: aqua;
    background-color: red;
}
h2 {
    color: aqua;
    background-color: red;
}
h3{
    color: aqua;
    background-color: red;
}

a:hover{
    background-color: deeppink;
}